.row
  .four.columns.centered.panel
    %h2 Sign in
    = devise_error_messages!
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      %div
        = f.label :email
        = f.email_field :email, {:class => "oversized input-text" }
      %div
        = f.label :password
        = f.password_field :password, {:class => "oversized input-text" }
      - if devise_mapping.rememberable?
        %div
          = f.check_box :remember_me
          = f.label :remember_me
      %div= f.submit "Sign in", {:class => "nice big radius blue button"}
    = render "links"
