= form_for @beta_sign_up, :html => { :class => "new_beta_sign_up nice", :id => "sign_up" } do |f|
  -# -if @beta_sign_up.errors.any?
    -# #error_explanation
      -# %h4= "#{pluralize(@beta_sign_up.errors.count, "error")} prevented this sign up:"
      -# %ul
        -# - @beta_sign_up.errors.full_messages.each do |msg|
          -# %li= msg

  .field
    = f.label :email_address
    = f.text_field :email_address, {:class => "oversize input-text", :placeholder => "matt@example.org"}
  .actions
    = f.submit 'Go', {:class => "large nice blue button radius"}
