!!!
%html
  %head
    %title Peculiarity
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if flash[:notice] || flash[:alert]
      #notice #{flash[:notice]}
      #alert #{flash[:alert]}
    .container
      = yield
